
.text-left {
            
    height: 100%;
}
          
.navbar {
              
    margin-bottom: 3px;
    border-radius: 4px;
    background-color: #80B1F6;
    color: brown;
}

.row.content {height: auto}

.sidenav {

    height: 100%;
    margin-bottom: 3px;
}

footer {

    margin-top: 3px;
    background-color: #555;
    color: white;
    padding: 1%;
}
          
